.install/** linguist-vendored
.laction/** linguist-vendored

rootfs/** linguist-vendored
style/** linguist-vendored
vendor/** linguist-vendored

install.sh linguist-vendored
uninstall.sh linguist-vendored